// http://eslint.org/docs/rules/
{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "classes": true
    }
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "require": true
  },
  "rules": {
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "camelcase": ["warn", { "properties": "never" }],
    "comma-dangle": ["warn", "never"],
    "comma-style": ["warn", "last"],
    "consistent-this": ["warn", "self"],
    "curly": ["warn", "all"],
    "eqeqeq": ["warn", "smart"],
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "jsx-quotes": ["warn", "prefer-double"],
    "key-spacing": "warn",
    "keyword-spacing": "warn",
    "lines-around-comment": ["warn", { "afterBlockComment": false, "afterLineComment": false }],
    "max-depth": ["warn", 3],
    "max-nested-callbacks": ["warn", 3],
    "max-params": ["warn", 5],
    "new-cap": ["warn", { "capIsNewExceptions": ["Map", "List"]  }],
    "newline-after-var": ["warn", "always"],
    "no-bitwise": "warn",
    "no-caller": "warn",
    "no-dupe-keys": "warn",
    "no-empty": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "no-multi-spaces": "warn",
    "no-multiple-empty-lines": "warn",
    "no-new": "warn",
    "no-trailing-spaces": "warn",
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "no-use-before-define": ["warn", "nofunc"],
    "one-var": ["warn", { "initialized": "never" }],
    "operator-linebreak": ["warn", "after"],
    "quotes": ["warn", "single"],
    "react/jsx-closing-bracket-location": ["warn", { "location": "after-props" }],
    "react/jsx-curly-spacing": ["warn", "never"],
    "react/jsx-indent-props": ["warn", 2],
    "react/jsx-max-props-per-line": ["warn", { "maximum": 5 }],
    "react/jsx-no-duplicate-props": ["warn", { "ignoreCase": true }],
    "react/jsx-no-undef": "warn",
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/jsx-wrap-multilines": "warn",
    "react/no-deprecated": "warn",
    "react/no-did-mount-set-state": "warn",
    "react/no-did-update-set-state": "warn",
    "react/no-direct-mutation-state": "warn",
    "react/no-multi-comp": ["warn", { "ignoreStateless": true }],
    "react/no-unknown-property": "warn",
    "react/prop-types": "warn",
    "react/react-in-jsx-scope": "warn",
    "react/self-closing-comp": "warn",
    "react/sort-comp": "warn",
    "semi": ["warn", "always"],
    "semi-spacing": ["warn", { "before": false, "after": true }],
    "space-before-blocks": ["warn", "always"],
    "space-infix-ops": "warn",
    "strict": ["warn", "global"],
    "valid-jsdoc": "warn",
    "yoda": ["warn", "never"]
  }
}
