@value green: #3cca5e;
@value blue: #056ef0;
@value yellow: #ffd11a;
@value red: #f2565a;
@value denim: #24303C;
@value denimDark: #212C37;
@value denimLight: #283644;
@value darkGrey: #454A54;
@value midGrey: #788090;
@value lightGrey: #CED440;
@value ivory: #f7f7f7;

.itemActive {
  font-weight: bold;
}

.itemDone {
  color: #999;
  text-decoration: line-through;
}

.input {
  border: 1px solid #ccc;
  border-radius: 3px;
  max-width: 300px;
  padding: 10px;
  width: 100%;
}

.button {
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
}

.buttonDone {
  background-color: green;
  composes: button;
}

.buttonRemove {
  background-color: red;
  composes: button;
}
