@value green: #3cca5e;
@value red: #f2565a;

:global {
  body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
}

.itemActive {
  font-style: italic;
}

.itemDone {
  color: #999;
  text-decoration: line-through;
}

.input {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  max-width: 300px;
  padding: 10px;
  width: 100%;
}

.button {
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  margin-left: 5px;
  padding: 3px 6px;
  text-transform: uppercase;
}

.buttonDone {
  background-color: green;
  composes: button;
}

.buttonRemove {
  background-color: red;
  composes: button;
}
